@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(238, 233, 229);
    color: rgb(49, 54, 56);
}

img {
    margin: 0 auto;
    width: 70vw;
}

nav {
    position: sticky;
    display: flex;
    flex-direction: column;
    top: 0;
    margin-left: 1vw;
    width: 3vw;
    min-height: 180px;
    margin-bottom: -180px;
}

p {
    margin: 0 auto;
    max-width: 70vw;
    text-align: justify;
    line-height: 1.5rem;
}

#title {
	min-height: 160px;
	display: flex;
	justify-content: center;
	align-content: center;
}

.primary {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 100vh;
}

.link {
    text-decoration: none;
    color: rgb(126, 168, 190);
}

.link:visited {
    color: rgb(120, 113, 170);
}

.link:active {
    color: rgb(203, 133, 137);
}

.project {
    width: 75vw;
    display: inline-block;
    vertical-align: top;
}

.tooltip {
    top: 6vh;
    width: 50px;
    display: inline-block;
    font-size: 8px;
}

.nav-img {
    min-width: 30px;
    width: 2vw;
    height: auto;
    display: inline-block;
}

.mode {
    min-width: 30px;
    width: 2vw;
    height: auto;
    background-color: rgba(200, 194, 204, 0);
    color: rgb(49, 54, 56);
    border: none;
}

.mode:hover {
    cursor: pointer;
}

.mode:focus {
    outline: 0;
}

.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
}

.title-fade-in {
    opacity: 1;
    animation-name: fade-in;
    animation-duration: 2s;
}

.skillset {
    display: inline-block;
    width: 30vw;
}

.skillset ul {
    list-style-type: none;
}

.dark {
    background-color: rgb(49, 54, 56);
    color: rgb(200, 194, 204);
}

.dark .link {
    color: rgb(153, 178, 221);
}

#main {
    position: absolute;
}

#logo {
    max-height: 45vh;
    max-width: 75vw;
    height: auto;
    width: auto;
    display: inline-block;
    border-radius: 220px;
}

#zen {
    margin: 20px auto 50px auto;
}

@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}