@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto Mono', Arial, sans-serif;
	font-size: 20px;
	background-color: rgb(200,194,204);
	color: rgb(56, 54, 55);
}

img {
	margin: 0 auto;
	width: 70vw;
}

.project {
	width: 75vw;
	display: inline-block;
	vertical-align: top;
}

.title-fade-out {
	opacity: 0;
	animation-name: fade-out;
	animation-duration: 2s;
}

.title-fade-in {
	opacity: 1;
	animation-name: fade-in;
	animation-duration: 2s;
}

.skillset {
	display: inline-block;
	width: 30vw;
}

.skillset ul {
	list-style-type: none;
}

.dark {
	background-color: rgba(50, 50, 50, 1);
	color: rgb(200,194,204);
}

.tooltip {
	position: sticky;
	top: 6vh;
	left: 10px;
	width: 50px;
	margin-top: 5px;
	display: inline-block;
	font-size: 8px;
}

#mode-img {
	min-width: 30px;
	width: 2vw;
	height: auto;
}

#mode {
	background-color: rgba(200,194,204, 0);
	color: rgb(56,54,55);
	border: none;
}

#mode:hover {
	cursor: pointer;
}

#mode:focus {
	outline: 0;
}

#logo {
	max-height: 45vh;
	max-width: 75vw;
	height:  auto;
	width: auto;
	display: block;
	border-radius: 220px;
	box-shadow: 0 0 5px 1px rgb(56, 54, 55);
}

.project img {
	/* box-shadow: 0 0 8px 0 rgba(40, 40, 40, 1); */
}

@keyframes fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}