@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');


body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Roboto Mono', Arial, sans-serif;
	font-size: 20px;
	background-color: rgb(200,194,204);
	color: rgb(56, 54, 55);
}

img {
	margin: 0 auto;
	width: 70vw;
}

p {
	margin: 0 auto;
	max-width: 50vw;
	text-align: justify;
	line-height: 2em;
}

.link {
	text-decoration: none;
	color: rgb(126, 168, 190);
}

.link:visited {
	color: rgb(120, 113, 170);
}

.link:active {
	color: rgb(203, 133, 137);
}

.project {
	width: 75vw;
	display: inline-block;
	vertical-align: top;
}

.title-fade-out {
	opacity: 0;
	animation-name: fade-out;
	animation-duration: 2s;
}

.title-fade-in {
	opacity: 1;
	animation-name: fade-in;
	animation-duration: 2s;
}

.skillset {
	display: inline-block;
	width: 30vw;
}

.skillset ul {
	list-style-type: none;
}

.dark {
	background-color: rgba(50, 50, 50, 1);
	color: rgb(200,194,204);
}

.dark .link {
	color: rgb(153, 178, 221);
}
#sideIcon {
	float: left;
	position: sticky;
	top: 1vh;
}

.tooltip {
	position: sticky;
	top: 6vh;
	width: 50px;
	display: inline-block;
	font-size: 8px;
}

#mode-img {
	min-width: 30px;
	width: 2vw;
	height: auto;
}

#mode {
	position: sticky;
	left: 0;
	top: 10px;
	display: inline-block;
	background-color: rgba(200,194,204, 0);
	color: rgb(56,54,55);
	border: none;
}

#mode:hover {
	cursor: pointer;
}

#mode:focus {
	outline: 0;
}

#logo {
	max-height: 45vh;
	max-width: 75vw;
	height:  auto;
	width: auto;
	display: block;
	border-radius: 220px;
	box-shadow: 0 0 5px 1px rgb(56, 54, 55);
}

#zen {
	margin: 0 auto 50px auto;
}

@keyframes fade-out {
	from { opacity: 1 }
	to { opacity: 0 }
}

@keyframes fade-in {
	from { opacity: 0 }
	to { opacity: 1 }
}